.content{
    position: absolute;
    background-color: antiquewhite;
    width: 100%;
    height: 60%;
    margin-top: 3rem;
    border-radius: 50px;
    text-align: center;
    overflow:hidden;
}
.content .baskt{
    font-size: 1.5rem;
}