*{
    margin: 0;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}
.obs{
    display: flex;
    float: left;
  }
  .obs1{
    display: flex;
    float: left;
    margin-left: 25rem;
  }
body {
  background: #272727;
  font-family: "Montserrat", sans-serif;
}

.header{
    padding-top: 1rem;
    height: 80px;
    width: 100%;
    background-color: bisque;
    text-align: center;
    box-shadow: 0 0 5px;
}

.header a{
    font-size: 2rem;
    font-weight: 1000;
}

.basket img{
    position: absolute;
    float: right;
    right: 2rem;
    top: 0.6rem;
    width: 3rem;
    height: 3rem;
}


.men{
    background-color: antiquewhite;
    width: 250px;
    height: 25rem;
    margin: 3rem 5rem 0 3rem;
    border-radius: 20px;
}

.menu{
    border-radius: 20px;
    padding: 1.4rem 1.9rem 1.3rem 1.9rem;
    font-size: 1.8rem;
    text-decoration: none;
    color:black;
    display: block;
    overflow: hidden;
}
.menu:hover{
    text-shadow: 0 0 3px rgba(0,0,0,0.2);
    background-color: #bbbbbb;
    width: 100%;
    overflow: hidden;
}




.fixed {
    width: 100%;
    height: 50px;
    text-align: center;
    padding-top: 25px;
    background: rgba(85, 85, 85, 0.74);
    position: fixed;
    color: #FFF;
    -webkit-transition: bottom .2s ease-out 0s;
    -moz-transition: bottom .2s ease-out 0s;
    -o-transition: bottom .2s ease-out 0s;
    transition: bottom .2s ease-out 0s;
    z-index: 5;
  }
  
  .fixed-top{
    bottom: 0;
  }
  
  .fixed-bottom{
    bottom: -75px;
  }
/*Конец меню*/
/*Карточка*/
